@media screen and (max-width:576px) {

  /* header section start */

  .header-main {
    padding: 0;
    margin: 0;
    opacity: 100%;
    height: auto;
  }

  .menu-section-main-list {
    display: none;
  }

  .menu-section-main-title {
    padding-left: 20px;
    margin-top: 30px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .bar {
    display: block;
    font-size: 1.8rem;
    margin-right: 20px;
    margin-top: 40px;
  }

  .bannner-content-section {
    padding-left: 19px;
    padding-right: 25px;
  }

  .banner-section {
    height: auto;
    flex-direction: column;
  }

  .banner-content-title {
    font-size: 2rem;
  }

  .shape {
    position: absolute;
    top: 30px;
    font-size: 4.5rem;
    margin-top: -20px;
  }


  .stay {
    padding-left: 110px;
  }



  .banner-content-description {
    text-align: justify;
    font-size: 1.2rem;
    letter-spacing: 1px;
    opacity: 40%;
    line-height: 26px;
  }

  .ld-hide{
    display: inline-block;
  }

  /* .hide {
    display: none;
  } */

  .btn-primary {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 15px 35px;
    opacity: 90%;
    cursor: pointer;
  }

  .btn-secondary {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 15px 30px;
    opacity: 90%;
    cursor: pointer;
  }


  .hide2 {
    display: none;
  }

  .banner-content-image {
    margin: 0 auto;

  }

  .float-notification1 {
    width: 180px;
    height: 80px;
    background-color: rgb(44, 44, 44);
    padding: 6px 22px;
    margin-top: -480px;
    margin-left: 170px;
  }

  .float-notification1>h2 {
    font-size: 2rem;
  }

  .float-notification1>p {
    font-size: 0.71rem;
    opacity: 50%;
  }


  .float-notification2 {
    width: 213px;
    height: 80px;
    background-color: rgb(38, 38, 38);
    padding: 20px 20px;
    margin-left: -40px;
    margin-top: -300px;
  }

  /* header section end */

  /* first content start */
  .first-content-title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }

  .first-content-description {
    margin-top: 20px;
    font-size: 0.8rem;
    opacity: 60%;
  }

  .gym-exercise {
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
  }

  /* first content end */

  /* second section start */
  .second-section {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .second-section-part1 h1 {
    font-size: 2.8rem;
  }

  .second-section p {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-top: 10px;
  }

  .second-section .btn-primary {
    margin: 10px auto;
    margin-top: 20px;
    width: 90%;
    cursor: pointer;
  }

  .second-section-image {
    background-image: url('images/run.jpg');
    width: 90%;
    margin: 20px auto;
    height: 200px;
  }

  /* second section end */

  /* third section start */

  .bmi-title {
    margin-top: 30px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
  }

  .bmi-title>h1 {
    font-size: 2.8rem;
    font-weight: 900;
  }

  .third-content-section {
    flex-direction: column;
    margin-top: -50px;
  }

  .table-title {
    margin-top: 30px;
  }

  .third-table-section {
    width: 100%;
    padding-left: 20px;
  }

  .third-form-section {
    width: 90%;
    margin: 0 auto;
    margin-top: -100px;
  }

  .form-sub-part2 {
    margin: 0;
  }

  .calculate {
    cursor: pointer;
  }

  /* third section end */


  /* fourth section start */

  .fourth-content-section {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .our-team {
    color: white;
    font-size: 2.5rem;
  }


  .team-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .teacher {
    width: 350px;
    height: 290px;
  }

  .team-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* fourth section end */


  /* footer section start */

  footer {
    padding-left: 10px;
    padding-top: 50px;
  }

  .footer-title>a {
    font-size: 2rem;
    cursor: pointer;
  }

  .footer-content {
    text-align: justify;
    font-size: 1rem;
  }

  .small-hide {
    display: none;
  }


  .footer-section {
    flex-direction: column;
    padding-left: 10px;
    gap: 70px;
  }


  /* footer section end */
}