/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
}


/* header section start */

.header-main {
    background-image: linear-gradient(to left top, #111111, #222222);
    color: white;
    padding: 80px 150px;
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
}

.menu-section-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-section-main-title>a {
    font-size: 2.25rem;
    font-weight: 900;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
    cursor: pointer;
}

.menu-section-main-list {
    font-size: 1.12rem;
    list-style: none;
    display: flex;
    gap: 50px;
    border: 1px solid rgb(42, 41, 41);
    border-radius: 40px;
    align-items: center;
    padding-left: 3px;
    padding-right: 25px;
}


.menu-item-list {
    background-color: tomato;
    border-radius: 46px;
    text-align: center;
    padding: 8px 30px;
}

.menu-section-maim-list,
a {
    color: white;
    text-decoration: none;
}

.menu-bar {
    display: flex;
}

.bar {
    display: none;
}

.banner-section {
    display: flex;
    justify-content: space-between;
}

.banner-content-title {
    font-size: 4.8rem;
    font-weight: 900;
    margin-top: 60px;
    position: relative;
}

.shape {
    position: absolute;
    top: 30px;
    font-family: 'Miama', sans-serif;
    font-size: 10rem;
    font-weight: normal;
}

.stay {
    padding-left: 230px;
}

.banner-content-description {
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin-top: 32px;
    opacity: 60%;
}

.ld-hide {
    display: none;
}

.btn {
    display: flex;
}

.btn-primary {
    background-color: tomato;
    border-radius: 40px;
    font-size: 1.12rem;
    font-weight: 500;
    border: none;
    padding: 14px 25px;
    color: white;
    margin-right: 15px;
    margin-top: 32px;
    cursor: pointer;
}

.btn-secondary {
    background-color: transparent;
    border-radius: 40px;
    font-size: 1.12rem;
    font-weight: 500;
    border: 2px solid white;
    padding: 14px 25px;
    color: white;
    margin-right: 15px;
    margin-top: 32px;
    cursor: pointer;
}


.banner-content-image {
    margin-top: 33px;
    margin-right: 30px;
}

.banner-image {
    position: relative;
    height: 525px;
}

.float-notification1 {
    position: absolute;
    width: 200px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 8px 25px;
    margin-top: -420px;
    margin-left: 200px;
}

.float-notification1>h2 {
    font-size: 2.5rem;
}

.float-notification1>p {
    font-size: 0.81rem;
    letter-spacing: 1px;
    opacity: 85%;
}

.float-notification2 {
    display: flex;
    gap: 15px;
    position: absolute;
    width: 220px;
    height: 90px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    padding: 20px 25px;
    margin-left: -155px;
    margin-top: -145px;
}

.video-tutorial-numbers {
    font-size: 1.2rem;
}

.tutorials {
    font-size: 1rem;
    letter-spacing: 1px;
    opacity: 85%;
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: tomato;
}

/* header section end */


/* first content start */
.first-content {
    color: white;
    text-align: center;
    opacity: 80%;
}

.first-content-title {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 100px;
}

.first-content-description {
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin-top: 32px;
    opacity: 60%;
    line-height: 26px;
}

.gym-exercise {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 100px;
    margin-bottom: 100px;
}

.excercise-section>img {
    border-radius: 50%;
    border: 1px solid rgb(88, 87, 87);
}

.excercise-section>h3 {
    margin-top: 30px;
}

.excercise-section>p {
    margin-top: 10px;
    opacity: 50%;
}

/* first content end */

/* second content start */
.second-section {
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    opacity: 90%;
}


.second-section h1,
p {
    color: white;
}

.second-section h1 {
    font-size: 3rem;
    font-weight: 700;
}

.second-section p {
    margin-top: 20px;
    opacity: 70%;
    font-size: 1rem;
    letter-spacing: 1px;
}

.second-section-part1 {
    padding-left: 20px;
    padding-top: 15px;
}

.second-section .btn-primary2 {
    background-color: tomato;
    border-radius: 40px;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    padding: 14px 60px;
    color: white;
    margin-right: 15px;
    margin-top: 32px;
    cursor: pointer;
}

.second-section-image {
    background-image: url('images/run.jpg');
    height: 300px;
    width: 40%;
    background-size: cover;
    border-radius: 20px;
}

/* second content end */

/* third section start */

.bmi-title {
    margin-top: 100px;
    padding-left: 25%;
}

.bmi-title>h1 {
    font-size: 3rem;
    color: white;
    font-weight: 800;
}

.bmi-title>p {
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 26px;
    opacity: 50%;
    margin-top: 20px;
    margin-bottom: 100px;
}

.third-section {
    background-color: rgba(34, 34, 34, 1);
    max-width: 1420px;
    margin: 0 auto;
    opacity: 90%;
}

.third-content-section {
    color: white;
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
}

.third-table-section {
    width: 45%;
}


.table-title,
.form-title {
    margin-top: 60px;
    font-size: 2rem;
    font-weight: 700;
}

table {
    margin-top: 60px;
    border-collapse: collapse;
    border: 1px solid lightgray;
    text-align: justify;
    margin-bottom: 100px;
}

table,
tr,
th,
td {
    padding: 15px;
}

td {
    opacity: 60%;
}

.third-form-section {
    width: 50%;
}

.form-description {
    margin-top: 20px;
    opacity: 60%;
    letter-spacing: 0.5px;
    line-height: 26px;
}

form {
    margin-top: 30px;
}

.form-part1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input {
    width: 49%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1.12rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}


.form-sub-part2 {
    width: 49%;
    margin-left: 8px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1.12rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.form-part3 {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1.12rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}


select , option{
    opacity: 50%;
    color: black;
}


.calculate {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 30px;
    padding: 15px 70px;
    margin-bottom: 50px;
    border-radius: 40px;
    background-color: tomato;
    border: none;
    color: white;
    cursor: pointer;
}

/* third section end */

/* fourth content start */
.fourth-content-section {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.our-team {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    opacity: 90%;
}

.team-details {
    font-size: 1rem;
    opacity: 60%;
    margin-top: 20px;
    margin-bottom: 70px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.team-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1300px;
    margin: 0 auto;
    background-color: rgb(33, 34, 34);
    border-radius: 12px;
    padding: 10px;
}

.teacher {
    position: relative;
    width: 410px;
    height: 350px;
    margin-top: 50px;
    border-radius: 12px;
}

.traine-teacher-name {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.trainee {
    opacity: 70%;
    font-weight: 500;
}

.position {
    position: absolute;
    text-align: justify;
    margin-top: -70px;
    margin-left: 40px;
}

.team-section-sub {
    margin-top: -42px;
}

/* fourth content end */

/* footer section start */

footer {
    max-width: 1420px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 50px;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
    opacity: 80%;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    gap: 220px;
}

.footer-title>a {
    font-size: 1.5rem;
    font-weight: 900;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
    cursor: pointer;
}

.footer-content {
    margin-top: 30px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-size: 1rem;
    opacity: 50%;
}

.get-started {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 20px;
}

.footer-anchor .footer-anchor-another {
    margin-top: 20px;
    opacity: 50%;
    letter-spacing: 1px;
    font-size: 1.12rem;
}

.another {
    opacity: 50%;
    letter-spacing: 1px;
    font-size: 1.12rem;
}

hr {
    margin-top: 50px;
    opacity: 20%;
}

.copy-right {
    margin-top: 30px;
    padding-bottom: 30px;
    opacity: 50%;
    font-size: 1.12rem;
    letter-spacing: 1px;
    line-height: 26px;
}

/* footer section end */